@import "tailwindcss";
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
@layer components{
  .header_container{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    height: 75px;
    align-items: center;
  }
  .header_link{
    height: 50px;
    width: 200px;
    background-color: var(--color-orange-500);
    color: var(--color-red-300);
  }
}