@import "tailwindcss";
@font-face {
  font-family: 'DMSans';
  src: url('./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Mulish';
  src: url('./assets/fonts/Mulish-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}
#root {
  margin: 0 10%;
  text-align: center;
}
body{
  font-family: 'Mulish';
  scroll-behavior: smooth;
}
/*@layer components{
  .header_container{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    height: 75px;
    align-items: center;
  }
  .header_link{
    height: 50px;
    width: 200px;
    background-color: var(--color-orange-500);
    color: var(--color-red-300);
  }
}*/